

p {
    user-select: none;
    cursor: default;
}
img {
    user-select: none;
    -webkid-app-region: drag;
}
progress {
    border: none;
    background: blue; /*temp ?*/
}
progress::-webkit-progress-value {
    background: red;
}
progress::-webkit-progress-bar {
    background: rgb(80, 80, 80);
}
  

#song #albumart {
    position: fixed;
    top: 2px;
    left: 2px;
    right: 0px;
    bottom: 0px;
    height: 62px;
    width: 62px;
}
#song #albumart #song_albumart {
    height: 62px;
    width: 62px;
}
#song #albumart #border {
    position: fixed;
    top: 2px;
    left: 2px;
    right: 0px;
    bottom: 0px;
    height: 56px;
    width: 56px;
    border: 3.5px;
    border-style: solid;
    border-color: white;
    visibility: hidden;
}
#song #song_name {
    position: fixed;
    overflow-wrap: break-word;
    white-space: nowrap;
    top: -10%;
    left: 23%;
    right: 0px;
    bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
}
#song #song_artist {
    position: fixed;
    overflow-wrap: break-word;
    white-space: nowrap;
    top: 28%;
    left: 23%;
    right: 0px;
    bottom: 0px;
    font-size: 12px;
    font-family: Arial;
}

#plays {
    position: fixed;
    top: -11px;
    left: 235px;
    right: 0px;
    bottom: 0px;
    font-family: Arial;
    font-size: 10px;
}
#version {
    position: fixed;
    top: 35px;
    left: 240px;
    right: 0px;
    bottom: 0px;
    font-family: Arial;
    font-weight: bold;
    font-size: 11.5px;
}
#progress {
    position: fixed;
    width: 100%;
    top: 66px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 10px;
}